* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #EEEFF1;
    padding: 79px 0 141px 0;
}

.menu {
    margin-bottom: 160px;
}

.menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}

.menu-item.last {
    margin-right: 0;
}

.menu-link {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em
}

.only {
    color: #34547A;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 45px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 540px;
    margin-bottom: 54px;
}

.button {
    padding: 19px 41px 20px 41px;
    background-color: #34547A;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about-me {
    padding: 112px 0 89px 0;
    background-color: #FFFFFF;
}

.subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 42px;
}

.text-about-me {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cards-menu {
    background-color: #34547A;
    padding: 100px 0;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-right: 49px;
}

.card.card-last {
    margin-right: 0;
}

.card-image {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.wrap {
    display: inline-block;
    vertical-align: top;
}

.card-title {
    color: #FFFFFF;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
}

.card-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
}

.main {
    background-color: #EEEFF1;
    padding: 88px 0 100px 0;
}

.text-main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;
}

.video {
    width: 1160px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #34547A;
    padding: 50px 0 47px;
}

.footer-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-text {
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}



